<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>back
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <div class="theme-toggle" style="position: absolute; top: 10px; right: 10px;">
        <span class="theme-label">Light</span>
        <label class="switch">
          <input type="checkbox" id="theme-toggle">
          <span class="slider round"></span>
        </label>
        <span class="theme-label">Dark</span>
      </div>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      {% include footer.html %}
    </main>
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const toggleSwitch = document.getElementById('theme-toggle');
    const body = document.body;
  
    toggleSwitch.addEventListener('change', function() {
      body.classList.toggle('dark-mode');
      if (this.checked) {
        localStorage.setItem('darkMode', 'enabled');
      } else {
        localStorage.setItem('darkMode', 'disabled');
      }
    });
  
    // Check if dark mode was previously enabled
    if (localStorage.getItem('darkMode') === 'enabled') {
      toggleSwitch.checked = true;
      body.classList.add('dark-mode');
    }
  });
  </script>